logging:
    level:
#        tk.mybatis: DEBUG
        com.github.wxiaoqi.security.demo.mybatis: DEBUG
spring:
    application:
        name: ace-demo-mybatis
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8
        default-property-inclusion: non_null
    datasource:
        name: test
        url: jdbc:mysql://localhost:3306/ag_admin?useUnicode=true&characterEncoding=UTF8
        username: root
        password: 123456
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    rabbitmq:
        host: localhost
        port: 5672
        username: guest
        password: guest

# 配置数据库
mybatis:
    basepackage: com.github.wxiaoqi.security.demo.mybatis.mapper
    xmlLocation: classpath:mapper/**/*.xml

server:
    port: 9990

# 配置spring cloud 服务发现
eureka:
    instance:
        statusPageUrlPath: /info
        healthCheckUrlPath: /health
        # docker 部署开启
#        prefer-ip-address: true
#        ip-address: 127.0.0.1
    client:
        serviceUrl:
#            defaultZone: http://localhost:8761/eureka/
                    # docker 部署开启
            defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/

# 配置swagger
swagger:
    basepackage: com.github.wxiaoqi.security.demo.mybatis
    service:
        name: Admin Back
        description: Admin Back后端服务
        developer: 老A

# 配置用户认证和服务认证信息
auth:
  serviceId: ace-auth
  user:
    token-header: Authorization
  client:
    id: ace-demo-mybatis
    secret: bZf8yvj9
    token-header: client-token
