<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="css/layui.css" media="all"/>
    <link rel="stylesheet" href="css/global.css" media="all">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
    <link href="plugins/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet"/>

</head>

<body>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">服务</label>
            <div class="layui-input-inline">
                <input type="text" onchange="javascript:$('#btn_query').click();" class="layui-input" id="title">
            </div>
            <button type="button" id="btn_query"  class="layui-btn layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
                </button>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12">
            <div  id="elementToolbar" class="layui-btn-group">
                <button class="layui-btn layui-btn-small" id="btn_element_add">
                    <i class="layui-icon">&#xe654;</i>
                </button>
                <button class="layui-btn layui-btn-small" id="btn_element_edit">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-small" id="btn_element_del">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </div>
            <table id="elementTable">

            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="plugins/jquery-treegrid/js/jquery.treegrid.min.js"></script>
<script src="plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js"></script>
<script src="plugins/jquery-treegrid/extension/jquery.treegrid.extension.js"></script>
<script type="text/javascript" src="layui.js"></script>
<script type="text/javascript" src="ag/common/util.js"></script>
<script type="text/javascript" src="ag/gate/element.js"></script>
<script>


</script>
</body>

</html>