<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>后台管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="css/layui.css" media="all" />
		<link rel="stylesheet" href="css/global.css" media="all">
		<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">

	</head>

	<body>
		<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1aa094;">
			<div class="layui-header header header-demo">
				<div class="layui-main">
					<div class="admin-login-box">
						<div class="admin-side-toggle">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
						<!--<div class="admin-side-full">-->
							<!--<i class="fa fa-life-bouy" aria-hidden="true"></i>-->
						<!--</div>-->
						<a class="logo" style="left: 0;">
							<span style="font-size: 22px;">AG-Admin</span>
						</a>
					</div>
					<ul class="layui-nav admin-header-item" >
						<li class="layui-nav-item">
							<a href="javascript:;"><i class="fa fa-television"></i></a>
							<dl class="layui-nav-child" id="menuSys"> <!-- 二级菜单 -->
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="http://www.jianshu.com/u/86feb75a6296" target="_blank">关于我</a>
						</li>

						<li class="layui-nav-item">
							<a href="javascript:;" class="admin-header-user">
								<img src="images/0.jpg" />
								<span >Mr.AG</span>
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
								</dd>
								<dd>
									<a href="javascript:;"><i class="fa fa-gear" aria-hidden="true"></i> 设置</a>
								</dd>
								<dd id="lock">
									<a href="javascript:;">
										<i class="fa fa-lock" aria-hidden="true" style="padding-right: 3px;padding-left: 1px;"></i> 锁屏 (Alt+L)
									</a>
								</dd>
								<dd>
									<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</dd>
							</dl>
						</li>
					</ul>
					<ul class="layui-nav admin-header-item-mobile">
						<li class="layui-nav-item">
							<a href="javascript:;"><i class="fa fa-television"></i></a>
							<dl class="layui-nav-child" id="menuSysMobile"> <!-- 二级菜单 -->
								<dd>
									<a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
								</dd>
								<dd>
									<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
								</dd>
							</dl>

						</li>
					</ul>
				</div>
			</div>
			<div class="layui-side layui-bg-black" id="admin-side">
				<div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
			</div>
			<div class="layui-body" style="bottom: 0;border-left: solid 2px #1AA094;" id="admin-body">
				<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
					<ul class="layui-tab-title">
						<li class="layui-this">
							<i class="fa fa-dashboard" aria-hidden="true"></i>
							<cite>简介</cite>
						</li>
					</ul>
					<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
						<div class="layui-tab-item layui-show">
							<iframe src="about"></iframe>
						</div>
					</div>
				</div>
				<!--<div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">-->
					<!--<ul class="layui-tab-title">-->
						<!--<li class="layui-this">-->
							<!--<i class="fa fa-dashboard" aria-hidden="true"></i>-->
							<!--<cite>代码生成器</cite>-->
						<!--</li>-->
					<!--</ul>-->
					<!--<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">-->
						<!--<div class="layui-tab-item layui-show">-->
							<!--<iframe src="about"></iframe>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
			<div class="layui-footer footer footer-demo" id="admin-footer">
				<div class="layui-main">
					<p>2017 &copy;
						<a href="https://github.com/wxiaoqi/">github.com/wxiaoqi</a> LGPL license
					</p>
				</div>
			</div>
			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>
			
			<!--锁屏模板 start-->
			<script type="text/template" id="lock-temp">
				<div class="admin-header-lock" id="lock-box">
					<div class="admin-header-lock-img">
						<img src="images/0.jpg"/>
					</div>
					<div class="admin-header-lock-name" id="lockUserName">Mr.AG</div>
					<input type="text" class="admin-header-lock-input" value="输入密码解锁.." name="lockPwd" id="lockPwd" />
					<button class="layui-btn layui-btn-small" id="unlock">解锁</button>
				</div>
			</script>
			<!--锁屏模板 end -->
			
			<script type="text/javascript" src="layui.js"></script>
			<script type="text/javascript" src="datas/nav.js"></script>
			<script src="js/index.js"></script>
			<script>
				layui.use('layer', function() {
					var $ = layui.jquery,
						layer = layui.layer;

					$('#aboutMe').on('click', function() {
						layer.open({
							title: '关于我',
							maxmin: true,
							type: 2,
							content: 'http://www.jianshu.com/u/86feb75a6296',
							area: ['800px', '500px']
						});
                    });
					$('#about').load('README.md');
				});
			</script>
		</div>
	</body>

</html>