<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
	</head>

	<body>
		<div style="margin: 15px;">
			<blockquote class="layui-elem-quote">
				<p>第三方 iCheck 组件</p>
				<p>文档地址：
					<a href="http://www.bootcss.com/p/icheck/" target="_blank">http://www.bootcss.com/p/icheck/</a>
				</p>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>演示</legend>
				<div class="layui-field-box">
				</div>
			</fieldset>
		</div>
		<script type="text/javascript" src="plugins/layui/layui.js"></script>
		<script>
			layui.use(['jquery'], function() {
				var $ = layui.jquery,
				layer = top.layui.layer;
				
				
				//layer.alert('dom');
			});
		</script>
	</body>

</html>