<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="plugins/layui/css/layui.css" media="all" />
	</head>

	<body>
		<div style="margin: 15px;">
			<fieldset class="layui-elem-field layui-field-title">
				<legend>水平长导航菜单</legend>
			</fieldset>

			<ul class="layui-nav">
				<li class="layui-nav-item">
					<a href="javascript:;">最新活动</a>
				</li>
				<li class="layui-nav-item layui-this">
					<a href="javascript:;">产品</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">选项1</a>
						</dd>
						<dd>
							<a href="">选项2</a>
						</dd>
						<dd>
							<a href="">选项3</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="">大数据</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">解决方案</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">移动模块</a>
						</dd>
						<dd>
							<a href="">后台模版</a>
						</dd>
						<dd>
							<a href="">电商平台</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">社区</a>
				</li>
			</ul>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>短导航菜单</legend>
			</fieldset>

			<ul class="layui-nav layui-inline">
				<li class="layui-nav-item">
					<a href="">最新活动</a>
				</li>
				<li class="layui-nav-item layui-this">
					<a href="javascript:;">产品</a>
				</li>
				<li class="layui-nav-item">
					<a href="">大数据</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">解决方案</a>
				</li>
				<li class="layui-nav-item">
					<a href="">社区</a>
				</li>
			</ul>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>垂直导航菜单</legend>
			</fieldset>

			<ul class="layui-nav layui-nav-tree">
				<li class="layui-nav-item layui-nav-itemed">
					<a href="javascript:;">默认展开</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">选项1</a>
						</dd>
						<dd>
							<a href="">选项2</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="">产品</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">解决方案</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">移动模块</a>
						</dd>
						<dd>
							<a href="">后台模版</a>
						</dd>
						<dd>
							<a href="">电商平台</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="">大数据</a>
				</li>
				<li class="layui-nav-item">
					<a href="">社区</a>
				</li>
			</ul>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>侧边固定导航菜单</legend>
			</fieldset>

			← 囖，就左边那家伙！ 带图标神马的那是必须可以的。另外你可能还需要下拉菜单，这个将在下版本推出！

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>默认面包屑</legend>
			</fieldset>

			<span class="layui-breadcrumb">
		  <a href="/">首页</a>
		  <a href="/demo/">演示</a>
		  <a><cite>导航元素</cite></a>
		</span>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>自定义分隔符的面包屑</legend>
			</fieldset>

			<span class="layui-breadcrumb" lay-separator="—">
		  <a href="">首页</a>
		  <a href="">国际新闻</a>
		  <a href="">亚太地区</a>
		  <a><cite>正文</cite></a>
		</span>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
				<legend>还可以用于门户频道的面包屑</legend>
			</fieldset>

			<span class="layui-breadcrumb" lay-separator="|">
		  <a href="">娱乐</a>
		  <a href="">八卦</a>
		  <a href="">体育</a>
		  <a href="">搞笑</a>
		  <a href="">视频</a>
		  <a href="">游戏</a>
		  <a href="">综艺</a>
		</span>

			<p class="layui-elem-quote">其实就是自定义了个“|”的分隔符，然后最后一项也可以点。</p>
		</div>
		<script type="text/javascript" src="plugins/layui/layui.js"></script>
		<script>
			layui.use('element', function() {
				var element = layui.element(); //导航的hover效果、二级菜单等功能，需要依赖element模块

			});
		</script>

	</body>

</html>