
		<div style="margin: 15px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">菜单</label>
					<div class="layui-input-block">
						<input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入菜单" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">编码</label>
					<div class="layui-input-block">
						<input type="text" name="code" lay-verify="required" placeholder="请输入编码" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">url</label>
					<div class="layui-input-block">
						<input type="text" name="href" placeholder="请输入url" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">图标</label>
					<div class="layui-input-block">
						<input type="text" name="icon" placeholder="请输入icon，来源font-awesome" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<textarea class="layui-textarea layui-hide" name="description"  id="LAY_demo_editor"></textarea>
					</div>
				</div>
				<!--<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>-->
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>
		<!--<script type="text/javascript" src="layui.js"></script>-->

		<script>
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form(),
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor');
				//自定义验证规则
				form.verify({
					title: function(value) {
						if(value.length < 5) {
							return '标题至少得5个字符啊';
						}
					},
					pass: [/(.+){6,12}$/, '密码必须6到12位'],
					content: function(value) {
						layedit.sync(editIndex);
					}
				});
			});
		</script>