<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">菜单</label>

            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入菜单"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编码</label>

            <div class="layui-input-block">
                <input type="text" name="code" lay-verify="required" placeholder="请输入编码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级菜单</label>

            <div class="layui-input-block">
                <select id="parentId" name="parentId" lay-verify="required" lay-search="">
                    <option value="-1">请选择父级菜单</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">url</label>

            <div class="layui-input-block">
                <input type="text" name="href" placeholder="请输入url" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>

            <div class="layui-input-block">
                <input type="text" name="icon" placeholder="请输入icon，来源font-awesome" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>

            <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="description" id="description_editor"></textarea>
            </div>
        </div>

        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
