import fetch from 'utils/fetch';

export function page(query) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/page',
method: 'get',
params: query
});
}

export function addObj(obj) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}',
method: 'post',
data: obj
});
}

export function getObj(id) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/' + id,
method: 'get'
})
}

export function delObj(id) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/' + id,
method: 'delete'
})
}

export function putObj(id, obj) {
return fetch({
url: '/api/${moduleName}/${secondModuleName}/' + id,
method: 'put',
data: obj
})
}
