import fetch from '@/plugin/axios'

export function page(query) {
return request({
url: '/api/${moduleName}/${secondModuleName}/page',
method: 'get',
params: query
})
}

export function addObj(obj) {
return request({
url: '/api/${moduleName}/${secondModuleName}',
method: 'post',
data: obj
})
}

export function getObj(id) {
return request({
url: '/api/${moduleName}/${secondModuleName}/' + id,
method: 'get'
})
}

export function delObj(id) {
return request({
url: '/api/${moduleName}/${secondModuleName}/' + id,
method: 'delete'
})
}

export function putObj(id, obj) {
return request({
url: '/api/${moduleName}/${secondModuleName}/' + id,
method: 'put',
data: obj
})
}
