
		<div style="margin: 15px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">资源名</label>
					<div class="layui-input-block">
						<input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入元素" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">权限标志</label>
					<div class="layui-input-block">
						<input type="text" id="code" name="code" lay-verify="required" placeholder="请输入标志" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">资源路径</label>
					<div class="layui-input-block">
						<input type="text" name="uri" lay-verify="required" placeholder="请输入资源路径" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">请求方式</label>
					<div class="layui-input-block">
						<select id="method" name="method" lay-verify="required" lay-search="">
							<option value="GET" selected>GET</option>
							<option value="POST" >POST</option>
							<option value="DELETE" >DELETE</option>
							<option value="PUT" >PUT</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">类型</label>
					<div class="layui-input-block">
						<select id="type" name="type" lay-verify="required" lay-search="">
							<option value="button" selected>按钮</option>
							<option value="uri" >地址</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">icon</label>
					<div class="layui-input-block">
						<input type="text" name="icon"  autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<textarea class="layui-textarea layui-hide" name="description"  id="description_editor"></textarea>
					</div>
				</div>
				<input type="hidden" name="menuId" id="menuId"/>
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>