<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ace-Monitor登录</title>
    <style>
        html,body{text-align:center;margin:0px auto;}
        form, div{margin: 5px;}
    </style>
</head>
<body>
<br/>
<form action="/login" method="post">
    <div>请登录：</div>
    <div><label><input type="text" name="username"  placeholder="用户名"/> </label></div>
    <div><label><input type="password" name="password"  placeholder="密码"/> </label></div>
    <div><input type="submit" value="登录"/></div>
</form>
</body>
</html>