spring:
    application:
        name: admin-ui
    thymeleaf:
        mode: LEGACYHTML5
        cache: false

server:
    port: 8766

eureka:
    instance:
        statusPageUrlPath: ${management.context-path}/info
        healthCheckUrlPath: ${management.context-path}/health
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/

back:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.BestAvailableRule

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000

gate:
  client:
    clientId: admin-ui
    secret: test
    authHeader: access-token
    authHost: http://localhost:8765/api
    tokenHead: ApiGateToken