<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div class="row">
            <hr>
            <div class="col-sm-4">
                <div id="treeview-checkable"></div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>

<script type="text/javascript">
    $.ajax({
        type: "GET",
        url: "/back/menu/authority",
        success: function (defaultData) {
            var $checkableTree = $('#treeview-checkable').treeview({
                data: defaultData,
                levels: 1,
                showIcon: false,
                showCheckbox: true,
                onNodeSelected: function (event, node) {

                },
                onNodeChecked: function(event, node) {
                    $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
                },
                onNodeUnchecked: function (event, node) {
                    $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
                }
            });
//            var findCheckableNodess = function () {
//                return $checkableTree.treeview('search', [
//                    $('#input-check-node').val(), {
//                        ignoreCase: false,
//                        exactMatch: false
//                    }]);
//            };
//            var checkableNodes = findCheckableNodess();
//
//            $('#input-check-node').on('keyup', function (e) {
//                checkableNodes = findCheckableNodess();
//                $('.check-node')
//                        .prop('disabled', !(checkableNodes.length >= 1));
//            });
        }
    });
</script>
