<div class="admin-main" style="margin: 15px;">
    <form class="layui-form" action="">

        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
    <div class="row">
        <hr>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="input-check-node" class="sr-only">Search Tree:</label>
                <input type="input" class="form-control" id="input-check-node"
                       placeholder="Identify node...">
            </div>
            <div id="menuTreeview"></div>
        </div>
        <div class="col-sm-7">
            <div  id="elementToolbar">
            </div>
            <table id="elementTable">

            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
