<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">群主领导</label>

            <div class="layui-input-block">
                <select id="groupLeader" class=" form-control " multiple="multiple">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">人员</label>

            <div class="layui-input-block">
                <select id="groupMember" class=" form-control " multiple="multiple">
                </select>
            </div>
        </div>

        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>

<script type="text/javascript">
    $("#groupLeader").select2({
        ajax: {
            url: "/back/user/page",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    name: params.term, // search term
                    offset: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                var result = [];
                for (var i = 0; i < data.rows.length; i++) {
                    var obj = {};
                    obj.id = data.rows[i].id;
                    obj.text = data.rows[i].name;
                    result.push(obj);
                }
                return {
                    results: result,
                    pagination: {
                        more: (params.page * 10) < data.total
                    }
                };
            },
            cache: true
        },
        minimumInputLength: 1,
        language: "zh-CN", //设置 提示语言
//            maximumSelectionLength: 3,  //设置最多可以选择多少项
        placeholder: "请选择",
        tags: false, //设置必须存在的选项 才能选中
//        templateResult: function (item) {
//            return '<span style="color:white">' + item.name + '</span><span style="font-size:8px">: ' + item.description + '</span>'
//        },
//        templateSelection: function (item) {
//            return item.name
//        },
        escapeMarkup: function (markup) {
            return markup;
        },
    });
    $("#groupMember").select2({
        ajax: {
            url: "/back/user/page",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    name: params.term, // search term
                    offset: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                var result = [];
                for (var i = 0; i < data.rows.length; i++) {
                    var obj = {};
                    obj.id = data.rows[i].id;
                    obj.text = data.rows[i].name;
                    result.push(obj);
                }
                return {
                    results: result,
                    pagination: {
                        more: (params.page * 10) < data.total
                    }
                };
            },
            cache: true
        },
        minimumInputLength: 1,
        language: "zh-CN", //设置 提示语言
//            maximumSelectionLength: 3,  //设置最多可以选择多少项
        placeholder: "请选择",
        tags: false, //设置必须存在的选项 才能选中
//        templateResult: function (item) {
//            return '<span style="color:white">' + item.name + '</span><span style="font-size:8px">: ' + item.description + '</span>'
//        },
//        templateSelection: function (item) {
//            return item.name
//        },
        escapeMarkup: function (markup) {
            return markup;
        }
    });
</script>
