<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>

            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入名称"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编码</label>

            <div class="layui-input-block">
                <input type="text" name="code" lay-verify="required" placeholder="请输入编码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组类型</label>

            <div class="layui-input-block">
                <select id="groupType" name="groupType" lay-verify="required" lay-search="">
                    <option value="0">角色类型</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级</label>

            <div class="layui-input-block">
                <select id="parentId" name="parentId" lay-verify="required" lay-search="">
                    <option value="-1">请选择父级</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>

            <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="description" id="description_editor"></textarea>
            </div>
        </div>

        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
